<% include header.ejs %>
<div class="container js_container">
<div class="page slideIn msg">
<div class="weui_msg">        
    <div class="weui_text_area">
        <h2 class="weui_msg_title">登录失败</h2>
        <p class="weui_msg_desc">您输入的用户名或密码错误</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="/" class="weui_btn weui_btn_primary">确定</a>
        </p>
    </div>
</div>
</div>
</div>
<script src="./js/zepto.min.js"></script>
<script src="./js/example.js"></script>
<% include js.ejs %>
<% include footer.ejs %>